# Идентификатор каталога Yandex Cloud, вида b1g******************
YC_FOLDER_ID=

# API-ключ сервисного аккаунта с ролью ai.languageModels.user.
LLM_API_KEY=

# OpenAI-совместимый эндпоинт Yandex Cloud
LLM_BASE_URL=https://llm.api.cloud.yandex.net/v1

# Модель
LLM_MODEL=yandexgpt-5-lite/latest
